.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
}
.hero a {
  text-decoration: none;
  background-color: var(--primary);
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
}
