.cardData {
    background-color: "white";
    padding: "2rem";
    border-radius: "10px";
    box-shadow: "0 4px 6px rgba(0, 0, 0, 0.1)";
    text-align: "center";
    width: "350px",
  }

  .content-box {
    background-color: rgb(235, 235, 233); /* Set background color */
    color: white;                /* Text color */
    font-size: 1.2rem;           /* Font size */
    text-align: center;          /* Center the text */
    border-radius: 10px;         /* Rounded corners */
    width: 100%;                  /* Set width of the div */
    margin: 10px auto;  
    height: 100px;         /* Center the div horizontally */
}

.card {
    background-color: white;
    width: 500px;               /* Set card width */
    padding: 12px;              /* Add padding */
    border-radius: 15px;        /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on hover */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh;
    max-height: 80vh; */
    /* height: 70vh; */
}

@media (max-width: 500px) {
    .card {
      width: auto; /* Ensures it's always horizontal */
    }
}





 /* Card hover effect */
 .card:hover {
    transform: translateY(-10px); /* Lift the card on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

/* Card title */
.card h2 {
    margin-top: 0;              /* Remove margin from top */
    color: #333;                /* Dark text color */
    font-size: 1.5rem;          /* Title size */
}

/* Card text content */
.card p {
    color: #666;                /* Slightly lighter text color */
    font-size: 1rem;            /* Normal text size */
    line-height: 1.5;           /* Line height for readability */
}

.highlited-text{
    font-weight: bold;
}

hr {
    height: 2px; /* Increases the thickness of the line */
    background-color: #c4c4c4; /* Color of the line */
    border: none; /* Remove default border */
}