.navbar-link {
  font-size: clamp(0.7rem, 2.2vh, 1rem);
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.45rem 1.25rem;
  border-radius: 0.3rem;
  border: 0.13rem solid white;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.navbar-link:hover {
  text-decoration: none;
  transform: scale(0.9);
}
.active .navbar-link {
  color: #000;
}
.btn-registration {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 1.25rem;
  border: 0.13rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  background: #00317f;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-registration:after {
  content: "→";
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.btn-registration:hover,
.btn-registration:focus {
  border-color: white;
  text-decoration: none;
}
.active .btn-registration {
  border-color: #00317f;
}
.active .btn-registration:hover {
  background: #00317f;
  color: #fff;
}
.active .btn-registration:hover:after {
  color: #fff;
}
@media screen and (max-width: 600) {
  .navbar-link {
    padding: 0.15rem 0.8rem;
  }
}
