.listing {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0px;
  padding: 30px;
  box-shadow: 0 0 10px 0 lightgray;
  border-radius: 30px;
  margin-top: 1rem;
}
.input {
  position: relative;
}
.typeButton {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
}
.typeButton.active {
  background-color: var(--primary);
  color: white;
}
