.listing {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0px;
  padding: 30px;
  box-shadow: 0 0 10px 0 lightgray;
  border-radius: 30px;
  margin-top: 1rem;
}
.listing input {
  font-size: 0.9rem;
}
.listing select {
  font-size: 0.9rem;
  width: 100%;
}
.listing textarea {
  font-size: 0.9rem;
}
.input {
  min-width: 12rem;
  max-width: 18rem;
  position: relative;
}
.textarea {
  position: relative;
  min-width: 60%;
}
.submit,
.clear {
  width: 100px;
  padding: 7px 1rem;
  text-transform: uppercase;
  border: none;
  font-size: 0.7rem;
  background-color: gray;
  color: white;
  letter-spacing: 0.1em;
  border-radius: 5px;
  @media screen and (max-width: 1000px) {
    padding: 5px 1rem;
    font-size: 0.7rem;
  }
}
.submit.active {
  text-decoration: none;
  background-color: var(--secondary);
}
.clear {
  background-color: rgb(247, 185, 71);
  color: black;
}
.listing strong {
  font-size: 0.8rem;
  margin-top: 15px;
}
.listing #inputWidth {
  width: 22rem !important;
}
.title {
  font-size: 16px;
  font-weight: 800;
  color: var(--secondary);
  padding: 0;
  margin: 0;
}
