.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.tab {
  display: flex;
  gap: 5px;
  font-size: 0.8rem;
  padding: 5px 1rem;
  background-color: ;
  color: black;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 15px;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 1000px) {
    padding: 5px 1rem;
    font-weight: 500;
  }
}
.tab.active {
  background-color: var(--primary);
  color: white;
}
