.chartContainer {
  width: 100%;
  height: 180px;
}

@media screen and (max-width: 768px) {
  .upgradeContent {
    flex-direction: column;
  }
  
  .imageContainer {
    margin-top: 15px;
    justify-content: center;
  }
  
  .upgradeTitle {
    font-size: 18px;
  }
  
  .upgradeText {
    font-size: 14px;
  }
}