.services {
  padding: 30px;
  text-align: center;
  margin-top: 100px;
}
.services h3 {
  font-size: 40px;
  font-weight: 600;
}
.services h6 {
  font-size: 16px;
  font-weight: 500;
}
.wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: auto;
  align-content: center;
  align-items: center;
}
.service1,
.service2,
.service3,
.service4 {
  position: relative;
  text-align: start;
  padding: 10px 20px 20px 80px;
  height: fit-content;
  box-shadow: 0 0 3px 0 #00317f65;
  border-bottom-right-radius: 30px;
}
.service1 h6,
.service2 h6,
.service3 h6,
.service4 h6 {
  font-size: 25px;
  font-weight: 600;
}
.service1 p,
.service2 p,
.service3 p,
.service4 p {
  font-size: 16px;
}
.service1 a,
.service2 a,
.service3 a,
.service4 a {
  padding: 10px;
  background-color: #00317f;
  color: white;
  border-radius: 25px;
  font-size: 14px;
  position: relative;
  left: -5px;
  text-decoration: none;
  padding: 5px 1rem;
}
.service1 {
  grid-area: 1/1/2/2;
}
.service2 {
  grid-area: 2/1/3/1;
}
.service3 {
  grid-area: 1/3/2/4;
}
.service4 {
  grid-area: 2/3/3/4;
}
.main {
  grid-area: 1/2/4/3;
}
.main img {
  width: auto;
  height: 80vh;
}
.imgwrapper {
  position: absolute;
  background-color: #00317f;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
  width: 50px;
  height: auto;
  top: 0px;
  left: 0px;
}
.imgwrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .service1 {
    grid-area: 1/1/2/2;
  }

  .service2 {
    grid-area: 2/1/3/2;
  }
  .main {
    grid-area: 3/1/7/2;
  }
  .service3 {
    grid-area: 7/1/8/2;
  }
  .service4 {
    grid-area: 8/1/9/2;
  }
}
@media screen and (max-width: 768px) {
  .services h3 {
    font-size: 30px;
  }
}
