.brands {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/images/landingPage/worldmap.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  padding: 30px;
  margin-top: 50px;
}
.brands img {
  object-fit: contain;
  cursor: pointer;
  height: 40px;
  width: auto;
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
}
.brands img:hover {
  filter: grayscale(0);
}
