.sendmoney {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.sendmoney button {
  border-radius: 30px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(40, 58, 40);
  color: white;
  border: none;
  width: 250px;
}
.sendmoney table {
  font-size: 0.9rem;
}

.sendmoney table tbody tr td:nth-child(1) {
  width: 15rem;
}
.sendmoney table tbody tr td:nth-child(2) {
  width: 15rem;
  font-weight: 700;
}
